body{
    background-color: #abcdef;
}

.top p{
    border-bottom:1px solid gray;
}

img{
    width: 200px;
    height: 150px;
    padding: 5px;
    background-color: white;
}

span{
    color: red;
    font-size: 10px;
}

.dogs-hint p{
    margin-left: 30px;
    color: grey;
}

.border{
    border-bottom:1px solid gray;
}

.cats img{
    width: 200px;
    height: 150px;
    padding: 5px;
    margin-top: 15px;
    background-color: white;
}

.cats-hint p{
    margin-left: 30px;
    color: grey;
}

.last{
    font-size: 15px;
}